# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafVoiceCallSvc, 1.0)

gen_require(`
  type tmp_t;
')

# Framework definition for telaf
type telaf_tafVoiceCallSvc_exec_t;
files_type(telaf_tafVoiceCallSvc_exec_t);

type telaf_tafVoiceCallSvc_t;

type telaf_tafVoiceCallSvc_data_t;
files_type(telaf_tafVoiceCallSvc_data_t);

init_telaf_app_domain(telaf_tafVoiceCallSvc_t,telaf_tafVoiceCallSvc_exec_t)

# Getting Telephone calls information
ifdef(`sa525m',`
    telux_allow_tel_call_info_read(telaf_tafVoiceCallSvc_t)
    telux_allow_tel_call_mgmt(telaf_tafVoiceCallSvc_t)
    telux_allow_tel_subscription_read(telaf_tafVoiceCallSvc_t)
    telux_allow_tel_call_private_info(telaf_tafVoiceCallSvc_t)
    telux_allow_tel_ecall_mgmt(telaf_tafVoiceCallSvc_t)
')

# Allow service to manage its own data directory; registers with admin domain.
telaf_manage_app_data_files(telaf_tafVoiceCallSvc_t, telaf_tafVoiceCallSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafVoiceCallSvc_exec_t)



