# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafPMSvc, 1.0)

# Framework definition for telaf
type telaf_tafPMSvc_exec_t;
files_type(telaf_tafPMSvc_exec_t);

type telaf_tafPMSvc_t;

type telaf_tafPMSvc_data_t;
files_type(telaf_tafPMSvc_data_t);

init_telaf_app_domain(telaf_tafPMSvc_t,telaf_tafPMSvc_exec_t)

# Allow service to manage its own data directory; registers with admin domain.
telaf_manage_app_data_files(telaf_tafPMSvc_t, telaf_tafPMSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafPMSvc_exec_t)

ifdef(`sa525m',`
telux_allow_power_control_state(telaf_tafPMSvc_t)
telux_allow_power_wakeup_info(telaf_tafPMSvc_t);
')

#Allow system reboot capability for PMS
allow telaf_tafPMSvc_t self:capability {sys_boot};

telaf_app_read_proc_state(telaf_tafPMSvc_t)
