# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafLocationSvc, 1.0)

gen_require(`
  type debugfs_t;
  type etc_t;
  type osnma_merkle_tree_xml_t;
  type loc_hald_t;
  type loc_etc_t;
  type loc_socket_t;
  type urandom_device_t;
')

# Framework definition for telaf
type telaf_tafLocationSvc_exec_t;
files_type(telaf_tafLocationSvc_exec_t);

type telaf_tafLocationSvc_t;

type telaf_tafLocationSvc_data_t;
files_type(telaf_tafLocationSvc_data_t);

init_telaf_app_domain(telaf_tafLocationSvc_t,telaf_tafLocationSvc_exec_t)

ifdef(`sa525m',`
telux_allow_loc(telaf_tafLocationSvc_t)
location_access_loc_bootkpi(telaf_tafLocationSvc_t)
leprop_rw_props(telaf_tafLocationSvc_t)
')

# Allow tafLocationSvc to search dir in debugfs
allow telaf_tafLocationSvc_t debugfs_t:dir { search_dir_perms };
allow telaf_tafLocationSvc_t etc_t:file { read_file_perms };

allow telaf_tafLocationSvc_t debugfs_t:file rw_file_perms;
allow telaf_tafLocationSvc_t loc_etc_t:file rw_file_perms;
allow telaf_tafLocationSvc_t loc_hald_t:unix_dgram_socket sendto;
allow telaf_tafLocationSvc_t loc_socket_t:dir rw_dir_perms;
allow telaf_tafLocationSvc_t loc_socket_t:sock_file { setattr unlink rw_file_perms create_file_perms };
allow telaf_tafLocationSvc_t self:capability chown;
allow telaf_tafLocationSvc_t urandom_device_t:chr_file rw_file_perms;
allow loc_hald_t telaf_tafLocationSvc_t:unix_dgram_socket sendto;

# Allow service to manage its own data directory; registers with admin domain.
telaf_manage_app_data_files(telaf_tafLocationSvc_t, telaf_tafLocationSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafLocationSvc_exec_t)

# Allow to read xml file data in /etc
allow telaf_tafLocationSvc_t osnma_merkle_tree_xml_t:file { read open getattr };

