# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafMngdStorageSvc, 1.0)

# Framework definition for telaf
type telaf_tafMngdStorageSvc_exec_t;
files_type(telaf_tafMngdStorageSvc_exec_t);

type telaf_tafMngdStorageSvc_t;

type telaf_tafMngdStorageSvc_data_t;
files_type(telaf_tafMngdStorageSvc_data_t);

init_telaf_app_domain(telaf_tafMngdStorageSvc_t,telaf_tafMngdStorageSvc_exec_t)

ifdef(`sa525m',`
    allow telaf_tafMngdStorageSvc_exec_t telaf_admin_t:lnk_file {read};
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdStorageSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdStorageSvc_exec_t)

# KeyStore rules

telaf_tafKeyStoreSvc_getKeyId(telaf_tafMngdStorageSvc_t)

# RFS component necessary rules

telaf_load_rfs_component(telaf_tafMngdStorageSvc_t)

allow telaf_admin_t telaf_tafMngdStorageSvc_exec_t:lnk_file { read };
allow telaf_tafMngdStorageSvc_t self:capability { sys_admin };
allow telaf_tafMngdStorageSvc_t data_t:file { relabel_file_perms };
