# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafKeyStoreSvc, 1.0)

gen_require(`
  type persist_t;
  type qseecom_device_t;
  type ion_device_t;
  type firmware_t;
  type kernel_t;
  type init_t;
  type smcinvoke_device_t;
  type event_device_t;
  attribute telaf_app_domain;
')

# Framework definition for telaf
type telaf_tafKeyStoreSvc_exec_t;
files_type(telaf_tafKeyStoreSvc_exec_t);

type telaf_tafKeyStoreSvc_t;

type telaf_tafKeyStoreSvc_data_t;
files_type(telaf_tafKeyStoreSvc_data_t);

type telaf_tafFSCryptSvc_exec_t;
files_type(telaf_tafFSCryptSvc_exec_t);

type telaf_tafFSCryptSvc_t;

type telaf_tafFSCryptSvc_data_t;
files_type(telaf_tafFSCryptSvc_data_t);

# allow to create /persist/tafKeyStoreSvc
telaf_use_persist_storage(telaf_tafKeyStoreSvc_t)
allow telaf_tafKeyStoreSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafKeyStoreSvc_t firmware_t:file { read_file_perms };
allow telaf_tafKeyStoreSvc_t self:capability { dac_override dac_read_search sys_admin sys_ptrace };

# keystore service necessary rules
allow telaf_tafKeyStoreSvc_t { qseecom_device_t ion_device_t }:chr_file { rw_file_perms };

init_telaf_app_domain(telaf_tafKeyStoreSvc_t, telaf_tafKeyStoreSvc_exec_t)
telaf_use_device_manager(telaf_tafKeyStoreSvc_t)

# Allow service to manage its own data directory; registers with admin domain.
telaf_manage_app_data_files(telaf_tafKeyStoreSvc_t, telaf_tafKeyStoreSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafKeyStoreSvc_exec_t)

# Allow to get connected application attribute
allow telaf_tafKeyStoreSvc_t telaf_app_domain:process { getattr };

# tafKeyStoreSvc queries peer service process state via le_appInfo / appInfo API.
telaf_app_read_proc_state(telaf_tafKeyStoreSvc_t)

# Allow R/W /dev/smcinvoke
allow telaf_tafKeyStoreSvc_t smcinvoke_device_t:chr_file { rw_file_perms };

# Allow to call ssl library
telaf_use_cert_files(telaf_tafKeyStoreSvc_t)

init_telaf_app_domain(telaf_tafFSCryptSvc_t, telaf_tafFSCryptSvc_exec_t)
gen_require(`
    type telaf_tafPMSvc_t;
')
telaf_ipc_bind(telaf_tafFSCryptSvc_t, telaf_tafKeyStoreSvc_t)
telaf_ipc_bind(telaf_tafFSCryptSvc_t, telaf_tafPMSvc_t)
telaf_admin_manage_all_files_perms(telaf_tafFSCryptSvc_exec_t)
telaf_manage_app_data_files(telaf_tafFSCryptSvc_t, telaf_tafFSCryptSvc_data_t)

telaf_use_persist_storage(telaf_tafFSCryptSvc_t)
allow telaf_tafFSCryptSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafFSCryptSvc_t firmware_t:file { read_file_perms };
allow telaf_tafFSCryptSvc_t self:capability { dac_read_search sys_ptrace };

allow telaf_tafFSCryptSvc_t self:capability { sys_admin fowner };
allow telaf_tafFSCryptSvc_t self:key { search };
allow telaf_tafFSCryptSvc_t kernel_t:system { module_request };
allow telaf_tafFSCryptSvc_t init_t:key { search };

# telaf_fw_t:dir -- FSCrypt only needs to traverse /legato, not manage it.
# delete_file_perms on telaf_fw_t:file is kept (FSCrypt removes stale key files).
allow telaf_tafFSCryptSvc_t  telaf_fw_t:dir { search_dir_perms };
allow telaf_tafFSCryptSvc_t  telaf_fw_t:file { delete_file_perms };

# keystore service necessary rules
allow telaf_tafFSCryptSvc_t { qseecom_device_t ion_device_t }:chr_file { rw_file_perms };

# Allow to get connected application attribute
allow telaf_tafFSCryptSvc_t telaf_app_domain:process { getattr };

# tafFSCryptSvc queries peer service process state via le_appInfo / appInfo API.
telaf_app_read_proc_state(telaf_tafFSCryptSvc_t)

# Allow to call ssl library
telaf_use_cert_files(telaf_tafFSCryptSvc_t)

# Allow keystore service access "/dev/smcinvoke"
allow telaf_tafKeyStoreSvc_t event_device_t:chr_file { read write open ioctl };
