# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafMngdAudioSvc, 1.0)

# Framework definition for telaf
type telaf_tafMngdAudioSvc_exec_t;
files_type(telaf_tafMngdAudioSvc_exec_t);

type telaf_tafMngdAudioSvc_t;

type telaf_tafMngdAudioSvc_data_t;
files_type(telaf_tafMngdAudioSvc_data_t);

init_telaf_app_domain(telaf_tafMngdAudioSvc_t,telaf_tafMngdAudioSvc_exec_t)

# Get access for audio voice stream
ifdef(`sa525m',`
    telux_allow_audio_voice(telaf_tafMngdAudioSvc_t)
    telux_allow_audio_play(telaf_tafMngdAudioSvc_t)
    telux_allow_audio_capture(telaf_tafMngdAudioSvc_t)
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdAudioSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdAudioSvc_exec_t)

# use VHAL driver object
telaf_load_vhal_modules(telaf_tafMngdAudioSvc_t)