# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafSomeipGWSvc, 1.0)

gen_require(`
  type sysfs_t;
  type systemd_tmpfiles_t;
  type tmp_t;
')

# Framework definition for telaf
type telaf_tafSomeipGWSvc_exec_t;
files_type(telaf_tafSomeipGWSvc_exec_t);

type telaf_tafSomeipGWSvc_t;

type telaf_tafSomeipGWSvc_data_t;
files_type(telaf_tafSomeipGWSvc_data_t);

init_telaf_app_domain(telaf_tafSomeipGWSvc_t,telaf_tafSomeipGWSvc_exec_t)
unconfined_domain(telaf_tafSomeipGWSvc_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafSomeipGWSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafSomeipGWSvc_exec_t)

# Allow systemd to get attribute of /tmp/vsomeip-0
allow systemd_tmpfiles_t tmp_t:sock_file { getattr };
