# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafKeyStoreSvc, 1.0)

gen_require(`
  type persist_t;
  type qseecom_device_t;
  type ion_device_t;
  type firmware_t;
')
# Framework definition for telaf
type telaf_tafKeyStoreSvc_exec_t;
files_type(telaf_tafKeyStoreSvc_exec_t);

type telaf_tafKeyStoreSvc_t;

type telaf_tafKeyStoreSvc_data_t;
files_type(telaf_tafKeyStoreSvc_data_t);

# allow to create /persist/tafKeyStoreSvc
allow telaf_tafKeyStoreSvc_t persist_t:dir { manage_dir_perms };
allow telaf_tafKeyStoreSvc_t persist_t:file { manage_file_perms };
allow telaf_tafKeyStoreSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafKeyStoreSvc_t firmware_t:file { read_file_perms };

# keystore service necessary rules
allow telaf_tafKeyStoreSvc_t { qseecom_device_t ion_device_t }:chr_file { rw_file_perms };

init_telaf_app_domain(telaf_tafKeyStoreSvc_t,telaf_tafKeyStoreSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafKeyStoreSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafKeyStoreSvc_exec_t)


