# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary> devices interface </summary>

#######################################
# <summary>
#        Allow tafKeyStoreSvc to get client's key ID
# </summary>
# <param name="domain">
#        <summary>
#        Type to be used as a daemon domain.
#        </summary>
# </param>
# <param name="entry_point">
#        <summary>
#        Type of the program to be used as an entry point to this domain
#        </summary>
# </param>

interface(`telaf_tafKeyStoreSvc_getKeyId',`
    gen_require(`
            type telaf_tafKeyStoreSvc_t;
    ')

    allow telaf_tafKeyStoreSvc_t $1:dir { search_dir_perms };
    allow telaf_tafKeyStoreSvc_t $1:file { read_file_perms };
')
