# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafThermSvc, 1.0)

# Framework definition for telaf
type telaf_tafThermSvc_exec_t;
files_type(telaf_tafThermSvc_exec_t);

type telaf_tafThermSvc_t;

type telaf_tafThermSvc_data_t;
files_type(telaf_tafThermSvc_data_t);

init_telaf_app_domain(telaf_tafThermSvc_t,telaf_tafThermSvc_exec_t)

# Allow service to manage its own data directory; registers with admin domain.
telaf_manage_app_data_files(telaf_tafThermSvc_t, telaf_tafThermSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafThermSvc_exec_t)

ifdef(`sa525m',`
telux_allow_therm_data_read(telaf_tafThermSvc_t)
')
