# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafGpioSvc, 1.0)

gen_require(`
  type sysfs_t;
')

# Framework definition for telaf
type telaf_tafGpioSvc_exec_t;
files_type(telaf_tafGpioSvc_exec_t);

type telaf_tafGpioSvc_t;

type telaf_tafGpioSvc_data_t;
files_type(telaf_tafGpioSvc_data_t);

# Allow to access /sys/class/gpio
allow telaf_tafGpioSvc_t sysfs_t:file { rw_file_perms };

init_telaf_app_domain(telaf_tafGpioSvc_t,telaf_tafGpioSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafGpioSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafGpioSvc_exec_t)
